<!DOCTYPE html>
<html>
  <head>
    <title>Slack Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <% unless action_name == 'new' %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= yield :after_js %>

    <% unless action_name == 'new' %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
